.App {
  height: 100vh;
  background-color: #141414;
  color: #fff;
  overflow: scroll;
  text-align: center;
  overflow: hidden;
}

/* Container Home */
.container-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem;
  align-items: center;
  width: 60%;
}

/* Typography */
.container-home h1,
h5 {
  margin: 0.5rem;
  width: 90%;
  line-height: 1.5;
}
.container-home h1 {
  font-weight: 700;
  font-size: 3.5rem;
}

.container-home h5 {
  font-weight: 400;
  font-size: 2rem;
}

/* Button */
.container-home button {
  color: #fff;
  flex: 1 1 auto;
  background-size: 200% auto;
  transition: 0.5s ease;
  border: none;
  min-width: 18rem;
  max-width: max-content;
  height: 5rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-home button:hover {
  background-position: right center; /* change the direction of the change here */
}

.container-home button.connect-wallet {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}

.mint-button {
  background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
  flex: 1 1 auto;
  background-size: 200% auto;
  transition: 0.5s ease;
  border: none;
  min-width: 18rem;
  max-width: max-content;
  height: 5rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: gradient-animation 4s ease infinite;
}

.preview {
  /* background-color: #60c657; */
  margin-bottom: 40px;
  width: 25%;
}


/* Media Queries */
@media screen and (max-width: 1400px) {
  .container-home {
    width: 100rem;
  }
  .container-home h1 {
    font-size: 4.5rem;
  }
  .container-home h5 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .container-home {
    width: 80%;
  }
  .container-home h1 {
    font-size: 4rem;
  }
  .container-home h5 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 500px) {
  .container-home {
    width: 100%;
  }
  .container-home h1 {
    font-size: 3rem;
  }
  .container-home h5 {
    font-size: 2rem;
  }
}
