.App {
  background-color: #141414;
  color: #fff;
  overflow: scroll;
  text-align: center;
  overflow: hidden;
  min-height: 100vh;
}

/* Container Home */
.container-home {
  margin:4rem auto;
  height: 20%;
  background-color: rgb(44, 43, 43);
  display: flex;
  flex-direction: column;
  border-radius: 1%;
  box-shadow: 0 0 30px rgba(32, 32, 32, 0.5);
  padding: 2rem 0rem;
  align-items: center;
  width: 60%;

}

/* Typography */
.container-home h1,
h5 {
  margin: 0.5rem;
  width: 90%;
  line-height: 1.5;
}
.container-home h1 {
  font-weight: 700;
  font-size: 3.5rem;
}

.container-home h5 {
  font-weight: 400;
  font-size: 2rem;
}

/* Button */
.container-home button {
  color: #fff;
  flex: 1 1 auto;
  background-size: 200% auto;
  transition: 0.5s ease;
  border: none;
  min-width: 18rem;
  max-width: max-content;
  height: 5rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-home button:hover {
  background-position: right center; /* change the direction of the change here */
}
.home-link{
  font-size: large;
  margin:0 auto;
  background: -webkit-linear-gradient(left, #a944ce, #35aee2) !important;
}
.home-link a{
  text-decoration: none;
}
.grid-item{
  border-radius:2%;
  background-color: black;
  padding:2rem;
  margin: 2rem;
}
.grid-item a :hover{
  text-decoration: none !important;
}
.grid-item-title {
  font-size: large;
}
.grid-item ul{
  list-style-type: none;
}

.container-home button.connect-wallet {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}

.mint-button {
  background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
  background-size: 200% auto;
  transition: 0.5s ease;
  border: none;
  min-width: 18rem;
  max-width: max-content;
  height: 5rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: gradient-animation 4s ease infinite;
}

.mint-description {
  font-size: medium;
  background-color: blueviolet;
  height: 3rem;

}

.preview {
  /* background-color: #60c657; */
  margin-bottom: 40px;
  width: 25%;
}

.gridNFT {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7em;
}

/* Media Queries */ 
@media screen and (max-width: 1400px) {
  .container-home {
    width: 100rem;
  }
  .gridNFT {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.2em;
  }
  .container-home h1 {
    font-size: 4.5rem;
  }
  .container-home h5 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .container-home {
    width: 80%;
  }
  .container-home h1 {
    font-size: 4rem;
  }
  .container-home h5 {
    font-size: 2.5rem;
  }
}


@media screen and (max-width: 500px) {
  .container-home {
    width: 100%;
  }
  .container-home h1 {
    font-size: 3rem;
  }
  .container-home h5 {
    font-size: 2rem;
  }
}
