@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "lato", sans-serif;
  background-color: black;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

.container{
  display: flex;
  flex-direction: column;
  align-items:'center';
}